.wrapper {
  display: flex;
  height: 94vh;
}

.side-bar {
  width: 400px;
  background-color: #001057;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 40px;
  color: #ffffff;
  box-shadow: 5px 0 8px #808080;
  flex-shrink: 0;
}

.WIP {
  position: absolute;
  top: 200px;
  left: 30px;
}

.btn {
  margin: 20px 0 20px 30px;
}

/* Meme CSS */
.memes-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.top-text,
.bottom-text {
  color: #ffffff;
  font-size: 25px;
  position: absolute;
}

.top-text {
  top: 5px;
}

.bottom-text {
  bottom: 5px;
}

.meme-wrap {
  border-radius: 10px;
  height: 180px;
  width: 300px;
  margin: 20px;
  text-align: center;
  word-break: break-all;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 10px 10px 8px #808080;
}

.meme-wrap:hover {
  cursor: pointer;
}

.img-url {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
