.wrapper {
  display: flex;
  height: 94vh;
}

.side-bar {
  width: 400px;
  background-color: #001057;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 40px;
  color: #ffffff;
  box-shadow: 5px 0 8px #808080;
  flex-shrink: 0;
}

.library-tag {
  position: absolute;
  top: 200px;
  left: 30px;
}

.btn {
  margin: 20px 0 20px 30px;
}

/* Meme CSS */
.memes-section {
  display: flex;
  flex-wrap: wrap;
}
