/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap");

.whoops {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 20%;

  height: 100vh;
  background-color: #001057;
  color: #ffffff;
}

@media screen and (min-width: 600px) {
  .whoops {
    display: none;
  }
}

@media screen and (max-width: 601px) {
  app-root {
    display: none;
  }
}
