.page-wrapper {
  display: flex;
  height: 94vh;
}

/* CSS for form */

.form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;
  left: -40px;
  transform: skewX(5deg);

  width: 50%;

  background-color: #001057;
}

.form-header {
  color: #ffffff;
  transform: skewX(-5deg);
}

.input-wrapper {
  display: flex;
  justify-content: center;

  position: relative;
  bottom: 80px;

  transform: skewX(-5deg);
}

.meme-input {
  margin-top: 50px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;

  width: 75%;
}

.form-group {
  margin-bottom: 15px;
}

.danger {
  color: #ff0000;
  font-size: 20px;
}

.btn {
  margin-right: 15px;
}

.form-header,
.meme-header {
  font-family: "Gemunu Libre", sans-serif;

  text-align: center;
  position: relative;
  bottom: 80px;
}

h2 {
  font-size: 50px;
}

/* CSS for meme */

.meme-wrapper {
  display: flex;
  justify-content: center;

  flex-direction: column;

  width: 50%;
}

.meme-header {
  color: #001057;
}

.img-url {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.meme {
  height: 300px;
  width: 500px;
  margin: 20px;
  text-align: center;
  border-radius: 10px;

  display: flex;
  justify-content: center;

  position: relative;

  word-break: break-all;

  box-shadow: 10px 10px 8px #808080;
}

.top-text,
.bottom-text {
  color: #ffffff;
  font-size: 40px;
  position: absolute;
}

.top-text {
  top: 10px;
}

.bottom-text {
  bottom: 10px;
}

.latest-meme {
  display: flex;
  justify-content: center;
}
