<main class="page-wrapper">
  <div class="form-wrapper">
    <div class="form-header">
      <h2>Meme Generator!</h2>
    </div>
    <div class="input-wrapper">
      <div class="meme-input">
        <div class="form-group">
          <label [ngClass]="{ danger: showAlert }">{{
            showAlert ? "Please enter an image URL" : "Image URL (Required)"
          }}</label>
          <input
            type="url"
            class="form-control"
            [(ngModel)]="url"
            placeholder="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"
          />
        </div>
        <div class="form-group">
          <label>Top Text</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="topText"
            placeholder="Here's an example"
            maxlength="30"
          />
        </div>
        <div class="form-group">
          <label>Bottom Text</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="bottomText"
            placeholder="Meow!"
            maxlength="30"
          />
        </div>

        <button class="btn btn-primary" (click)="addNewMeme()">Submit</button>
        <button class="btn btn-secondary" (click)="clearInputs()">Clear</button>
        <span class="submit-notif" *ngIf="submitted">Meme Submitted!</span>
      </div>
    </div>
  </div>

  <div class="meme-wrapper">
    <div class="meme-header">
      <h2>{{ url ? "Your Meme!" : "Latest Meme!" }}</h2>
    </div>
    <!-- If there is no input URL, show the most recent meme -->
    <div class="latest-meme" *ngIf="!url">
      <div class="meme">
        <img class="img-url" [src]="memes[0].url" />
        <div class="top-text">{{ memes[0].topText }}</div>
        <div class="bottom-text">{{ memes[0].bottomText }}</div>
      </div>
    </div>
    <!-- If there is an input URL, show the current meme -->
    <div class="latest-meme" *ngIf="url">
      <div class="meme">
        <img class="img-url" [src]="url" />
        <div class="top-text">{{ topText }}</div>
        <div class="bottom-text">{{ bottomText }}</div>
      </div>
    </div>

    <div class="meme-footer">
      <p>&lt; Updates live! /&gt;</p>
    </div>

    <!-- Secret -->
    <a class="secret" routerLink="/secret">&lt; Secret /&gt;</a>
  </div>
</main>
